<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light fixed-top hide hidden">

  <div id="navbarSupportedContent" class="navbar-container">
      <ul class="navbar-nav mr-auto left-nav">
          <li class="nav-item nav-logo-item nav-logo-item--loading">
          <a class="nav-link" href="{{ "/" | absolute_url }}">
              <img class="nav-logo" src="{{ 'logo/black_logo.png' | asset_path | absolute_url }}" alt="Karolina Czarnecka" title="Strona domowa · Karolina Czarnecka">
          </a>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto right-nav">
          <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://www.instagram.com/karolina_czarnecka_/"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://www.facebook.com/KarolinaCzarneckaOfficial"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCAIg59v5FJVdgG9La-ECGlA"><i class="fab fa-youtube"></i></a>
          </li>
      </ul>
  </div>
</nav>
